@font-face {
  font-family: OswaldBold;
  src: url(../fonts/Oswald-Bold.ttf); }
@font-face {
  font-family: OswaldMedium;
  src: url(../fonts/Oswald-Medium.ttf); }
@font-face {
  font-family: OswaldRegular;
  src: url(../fonts/Oswald-Regular.ttf); }
@font-face {
  font-family: OswaldLight;
  src: url(../fonts/OswaldLight.ttf); }
.yellow {
  background-color: #ffe600; }

.grey {
  background-color: #393f49;
  transition: 0.5s; }

@-webkit-keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }
.zoomOut {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
* {
  font-family: OswaldRegular; }

body {
  margin: 0;
  padding: 0; }

/*     --- HEADER ---     */
header {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  width: 100%;
  padding: 5px 0px 13px;
  z-index: 100; }

@media screen and (min-width: 768px) {
  #menu {
    float: right;
    -webkit-transform: translateY(80%);
        -ms-transform: translateY(80%);
            transform: translateY(80%); } }

#icon-menu {
  margin: 0;
  padding: 0;
  color: #ffe600;
  display: block;
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 25px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%); }
  @media screen and (min-width: 768px) {
    #icon-menu {
      display: none; } }

.show-menu {
  left: -5% !important; }

#menu-list {
  margin: 0;
  padding: 0;
  float: right; }
  @media screen and (max-width: 768px) {
    #menu-list {
      text-align: center;
      display: block;
      position: absolute;
      width: 112%;
      left: 112%;
      transition: 0.4s; } }
  #menu-list #logo {
    float: left; }
  #menu-list li {
    list-style: none; }
    #menu-list li a {
      text-transform: uppercase;
      cursor: pointer;
      color: #fff;
      text-decoration: none;
      font-size: 16px; }
      #menu-list li a:hover {
        color: #ffe600; }
      @media screen and (max-width: 768px) {
        #menu-list li a {
          padding: 10px 150px;
          color: #ffe600; } }
    @media screen and (min-width: 768px) {
      #menu-list li {
        display: inline-block;
        float: left; }
        #menu-list li:after {
          content: '';
          display: inline-block;
          width: 5px;
          height: 5px;
          margin: 0 20px;
          -webkit-transform: translateY(-75%);
              -ms-transform: translateY(-75%);
                  transform: translateY(-75%);
          background-color: #ffe600; }
        #menu-list li:last-child:after {
          content: '';
          display: none; } }
    @media screen and (max-width: 768px) {
      #menu-list li {
        padding: 10px 0;
        border-bottom: 1px solid #fff;
        background-color: #393f49; } }

/*     ------     */
/*  --- MAIN SLIDER ---  */
#slider-section {
  z-index: -100; }
  #slider-section .slider {
    width: 100%;
    overflow-x: hidden; }
  #slider-section .slider-wrapper {
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    width: 9999px; }
    #slider-section .slider-wrapper .slide {
      display: inline-block;
      position: relative;
      float: left;
      width: 100vw;
      height: 100vh;
      background-size: cover;
      background-position: center center; }
    #slider-section .slider-wrapper .slide-content {
      height: 40%;
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 50%;
      width: 100%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
      #slider-section .slider-wrapper .slide-content .slide-text {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
        #slider-section .slider-wrapper .slide-content .slide-text h1 {
          text-transform: uppercase;
          font-size: 4em;
          color: #fff; }
          @media screen and (max-width: 1200px) {
            #slider-section .slider-wrapper .slide-content .slide-text h1 {
              font-size: 3em; } }
          @media screen and (max-width: 768px) {
            #slider-section .slider-wrapper .slide-content .slide-text h1 {
              font-size: 2em;
              margin-top: 20px; } }
          @media screen and (max-width: 320px) {
            #slider-section .slider-wrapper .slide-content .slide-text h1 {
              font-size: 2em;
              margin-top: 20px; } }
  #slider-section #slide-1 {
    background-image: url(../img/bg.jpg); }
  #slider-section #slide-2 {
    background-image: url(../img/bg2.jpg); }
  #slider-section #slide-3 {
    background-image: url(../img/bg3.jpg); }
  #slider-section .slider-nav {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    #slider-section .slider-nav .btn-slide {
      display: inline-block;
      width: 20px;
      height: 20px;
      cursor: pointer; }
    #slider-section .slider-nav .btn-previous {
      background: url(../img/arrow-left.png) no-repeat; }
    #slider-section .slider-nav .btn-next {
      float: right;
      background: url(../img/arrow-right.png) no-repeat; }

.mybtn {
  display: block;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  width: 234px;
  margin: 30px auto;
  padding: 10px 0;
  font-size: 20px;
  border: none;
  transition: .2s; }
  .mybtn:hover {
    background-color: #d8c61e; }
  @media screen and (max-width: 768px) {
    .mybtn {
      width: 150px; } }

/*     ------     */
/*  --- WE LOVE TO DO ---  */
#love-to-do {
  padding: 60px 0; }
  #love-to-do h2 {
    margin-top: 0;
    font-family: OswaldBold;
    color: #000; }
  #love-to-do h4 {
    margin-top: 0; }
  #love-to-do p, #love-to-do h2, #love-to-do h3, #love-to-do h4 {
    text-align: center; }
  #love-to-do p {
    font-family: OswaldLight;
    color: #707070;
    font-size: 16px; }
  #love-to-do h2, #love-to-do h3, #love-to-do h4 {
    text-transform: uppercase; }
  #love-to-do .discription {
    margin-bottom: 60px; }
  #love-to-do .divider {
    display: block;
    margin: 20px auto; }
  @media screen and (max-width: 768px) {
    #love-to-do .col-sm-3 {
      margin-bottom: 50px; } }

.circle {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: #ffe600;
  border-radius: 50%; }
  .circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    cursor: pointer; }

/*  --- HOW WE DO IT ---  */
#how-we-do-it {
  background-color: #131A1D;
  padding: 60px 0; }
  #how-we-do-it h2 {
    color: #ffe600;
    text-align: center;
    margin-top: 0;
    font-family: OswaldBold; }
  #how-we-do-it p {
    font-family: OswaldLight;
    font-size: 16px; }
  #how-we-do-it p, #how-we-do-it h3 {
    text-align: center;
    color: #fff; }
  #how-we-do-it h3 {
    margin-top: 0;
    margin-bottom: 25px; }
  #how-we-do-it h2, #how-we-do-it h3 {
    text-transform: uppercase; }
  #how-we-do-it .circle {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 50%; }
    #how-we-do-it .circle img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      cursor: pointer; }
  #how-we-do-it .discription {
    margin-top: 20px;
    margin-bottom: 60px; }
  @media screen and (max-width: 768px) {
    #how-we-do-it .col-sm-1 {
      margin-bottom: 50px; } }

/*  --- PORTFOLIO ---  */
#portfolio {
  position: relative;
  padding: 60px 0; }
  #portfolio p, #portfolio h2, #portfolio h3, #portfolio h4 {
    text-align: center; }
  #portfolio h2 {
    font-family: OswaldBold;
    color: #000; }
  #portfolio p {
    font-family: OswaldLight;
    color: #707070;
    font-size: 16px; }
  #portfolio h2, #portfolio h3, #portfolio h4 {
    text-transform: uppercase; }
  #portfolio h4 {
    margin-top: 0; }
  #portfolio .discription {
    margin-bottom: 0; }
  #portfolio .divider {
    display: block;
    margin: 25px auto; }
  #portfolio .filter-items {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 50px; }
    @media screen and (min-width: 768px) and (max-width: 1110px) {
      #portfolio .filter-items {
        width: 547px; } }
    #portfolio .filter-items li {
      list-style: none; }
      #portfolio .filter-items li a {
        text-transform: uppercase;
        cursor: pointer;
        color: #000;
        text-decoration: none;
        font-size: 16px;
        transition: 0.3s; }
        #portfolio .filter-items li a:hover {
          color: #ffe600; }
        @media screen and (max-width: 768px) {
          #portfolio .filter-items li a {
            padding: 0;
            text-align: center; } }
      #portfolio .filter-items li .active-filter {
        color: #ffe600; }
      @media screen and (min-width: 768px) {
        #portfolio .filter-items li {
          display: inline-block;
          float: left; }
          #portfolio .filter-items li:after {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            margin: 0 20px;
            -webkit-transform: translateY(-75%);
                -ms-transform: translateY(-75%);
                    transform: translateY(-75%);
            background-color: #ffe600; }
          #portfolio .filter-items li:last-child:after {
            content: '';
            display: none; } }
      @media screen and (max-width: 768px) {
        #portfolio .filter-items li {
          text-align: center; } }
  #portfolio #works.row {
    margin-left: 0;
    margin-right: 0; }
  #portfolio #works {
    margin-top: 130px;
    width: 100%; }
    @media screen and (max-width: 768px) {
      #portfolio #works {
        margin-top: 210px; } }
    #portfolio #works .work {
      padding: 0;
      position: relative;
      transition: 1s; }
      #portfolio #works .work img {
        width: 100%;
        height: auto;
        vertical-align: middle; }
      #portfolio #works .work .work-description {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 230, 0, 0.5);
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-name: zoomOut;
                animation-name: zoomOut;
        -webkit-animation-duration: 0s;
                animation-duration: 0s; }
        #portfolio #works .work .work-description .wrapper {
          width: 80%;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          text-align: center; }
          #portfolio #works .work .work-description .wrapper p, #portfolio #works .work .work-description .wrapper h3 {
            font-family: OswaldRegular;
            text-transform: uppercase;
            color: #fff; }
    #portfolio #works .mouse-enter {
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
      -webkit-user-select: none;
      cursor: pointer; }
      #portfolio #works .mouse-enter .work-description {
        -webkit-animation-name: zoomIn;
                animation-name: zoomIn;
        -webkit-animation-duration: .4s;
                animation-duration: .4s; }
        #portfolio #works .mouse-enter .work-description .work-title {
          -webkit-animation-name: zoomIn;
                  animation-name: zoomIn;
          -webkit-animation-duration: .4s;
                  animation-duration: .4s; }
    #portfolio #works .mouse-leave .work-description {
      -webkit-animation-name: zoomOut;
              animation-name: zoomOut;
      -webkit-animation-duration: .4s;
              animation-duration: .4s; }

/* DO YOU LIKE OUT PORTFOLIO */
#scroll-to-contact-us {
  padding-bottom: 80px; }
  #scroll-to-contact-us .scroll-to-contact {
    display: block;
    margin: 0 auto;
    background-color: #ffe600;
    height: 50px;
    width: 50px;
    text-decoration: none;
    position: relative;
    transition: .2s;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    cursor: pointer; }
    #scroll-to-contact-us .scroll-to-contact:hover {
      color: #fff;
      background-color: #d8c61e; }
    #scroll-to-contact-us .scroll-to-contact img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  #scroll-to-contact-us h2 {
    margin-top: 40px;
    font-family: OswaldBold;
    text-transform: uppercase;
    color: #000; }
  #scroll-to-contact-us p {
    margin-bottom: 60px;
    font-family: OswaldLight;
    margin-top: 20px;
    font-size: 16px; }
  #scroll-to-contact-us .to-contact-us {
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    color: #fff;
    background-color: #ffe600;
    padding: 15px 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s; }
    #scroll-to-contact-us .to-contact-us:hover {
      color: #fff;
      background-color: #d8c61e; }

/*  --- WE ARE PROUD OF THESE NUMBERS ---  */
#proud-numbers {
  background-color: #131A1D;
  padding: 60px 0; }
  #proud-numbers h2 {
    margin-top: 0;
    text-transform: uppercase;
    color: #fff;
    font-family: OswaldBold; }
  #proud-numbers p {
    margin-bottom: 60px;
    margin-top: 20px;
    font-size: 16px;
    font-family: OswaldLight;
    color: #fff; }
  #proud-numbers .achievements {
    position: relative;
    width: 100%;
    height: 135px;
    border: 1px solid #ffe600; }
    #proud-numbers .achievements span {
      width: 150px;
      color: #ffe600;
      text-transform: uppercase;
      position: absolute;
      top: 65%;
      font-size: 16px;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    @media screen and (max-width: 992px) {
      #proud-numbers .achievements {
        margin-bottom: 30px; } }
  #proud-numbers .counter {
    font-family: OswaldBold;
    padding-top: 25px;
    font-size: 35px;
    color: #fff; }
  #proud-numbers .counter div {
    font-family: OswaldBold; }

/*  --- ABOUT US ---  */
#about-us {
  padding-top: 60px; }
  #about-us p, #about-us h2, #about-us h3, #about-us h4 {
    text-align: center; }
  #about-us h2 {
    font-family: OswaldBold;
    color: #000; }
  #about-us p {
    font-family: OswaldLight;
    color: #707070;
    font-size: 16px; }
  #about-us h2, #about-us h3, #about-us h4 {
    text-transform: uppercase; }
  #about-us .discription {
    margin-bottom: 70px; }
  #about-us .divider {
    display: block;
    margin: 25px auto; }
  #about-us .row {
    margin-bottom: 40px; }
  #about-us .circle {
    height: 75px;
    width: 75px;
    -webkit-transform: translateY(12%);
        -ms-transform: translateY(12%);
            transform: translateY(12%); }
    @media screen and (max-width: 992px) {
      #about-us .circle {
        margin-bottom: 30px; } }
  #about-us .about-item {
    margin-left: 10px; }
    #about-us .about-item h4, #about-us .about-item p {
      text-align: left; }
      @media screen and (max-width: 992px) {
        #about-us .about-item h4, #about-us .about-item p {
          text-align: center; } }

/*  --- TEAM ---  */
#team h2 {
  margin-top: 30px;
  font-family: OswaldBold;
  text-transform: uppercase;
  color: #000; }
#team p {
  margin-bottom: 60px;
  font-family: OswaldLight;
  margin-top: 20px;
  font-size: 16px; }
#team img {
  margin: 0 auto; }
#team .worker {
  cursor: pointer;
  margin-bottom: 50px; }
  @media screen and (max-width: 992px) {
    #team .worker {
      margin-bottom: 40px; } }
#team .pointer {
  position: relative; }
  @media screen and (min-width: 768px) {
    #team .pointer:after {
      content: '';
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      bottom: -50px;
      border: 30px solid transparent;
      border-bottom: 20px solid #131316; } }
#team .worker-info {
  text-align: center;
  border-bottom: 2px solid #ccc; }
  #team .worker-info h4 {
    text-transform: uppercase;
    color: #707070; }
  #team .worker-info .worker-name {
    color: #ffe600; }
#team #worker-cards {
  display: none;
  padding-top: 60px;
  background-color: #131316;
  color: #fff; }
  @media screen and (min-width: 768px) {
    #team #worker-cards .worker-description .container {
      width: 780px; } }
  #team #worker-cards .name {
    position: relative; }
    #team #worker-cards .name h4 {
      color: #ffe600;
      text-transform: uppercase;
      margin: 0; }
    #team #worker-cards .name img {
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      cursor: pointer; }
  #team #worker-cards img {
    float: right; }
  #team #worker-cards p {
    text-align: left;
    margin-bottom: 20px;
    font-size: 16px; }
  #team #worker-cards .social-icon {
    margin-right: 20px;
    position: relative;
    display: inline-block;
    width: 37px;
    height: 37px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: .3s; }
    #team #worker-cards .social-icon:hover {
      background-color: #ffe600;
      border: 2px solid #ffe600; }
    #team #worker-cards .social-icon:hover i {
      color: #131A1D; }
    #team #worker-cards .social-icon i {
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  #team #worker-cards .worker-card {
    position: relative;
    display: none; }
#team #skills {
  margin-top: 40px;
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #131A1D;
  color: #fff; }
  #team #skills .skill {
    position: relative;
    height: 200px; }
    @media screen and (max-width: 992px) {
      #team #skills .skill {
        margin-bottom: 30px; } }
  #team #skills h2 {
    margin-top: 0;
    font-family: OswaldBold;
    text-transform: uppercase;
    color: #fff; }
  #team #skills p {
    margin-bottom: 60px;
    font-family: OswaldLight;
    margin-top: 20px;
    font-size: 16px;
    text-align: center; }
  #team #skills .tech {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    color: #ffe600;
    font-size: 20px; }
  #team #skills .circle-diagram {
    display: block;
    float: left;
    position: relative;
    margin: 0 auto;
    width: 100%; }
  #team #skills circle {
    fill: transparent;
    stroke: #fff;
    stroke-width: 5;
    stroke-dasharray: 408px 408px;
    margin: 0 auto; }
  #team #skills circle:nth-child(2n) {
    fill: transparent;
    stroke: #ffe600;
    stroke-width: 5; }
  #team #skills .percents {
    font-size: 35px;
    font-family: OswaldLight;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffe600;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

/*  --- OUR CLIENTS ---  */
#our-clients {
  padding: 60px 0; }
  #our-clients p, #our-clients h2, #our-clients h3, #our-clients h4 {
    text-align: center; }
  #our-clients h2 {
    font-family: OswaldBold;
    color: #000; }
  #our-clients p {
    font-family: OswaldLight;
    color: #707070;
    font-size: 16px;
    margin-bottom: 30px; }
  #our-clients h2, #our-clients h3, #our-clients h4 {
    text-transform: uppercase; }
  #our-clients h3 {
    margin-top: 10px;
    margin-bottom: 27px; }
  #our-clients .divider {
    display: block;
    margin: 25px auto; }
  #our-clients .slider-wrapper {
    width: 100%;
    overflow-x: hidden; }
    #our-clients .slider-wrapper #slider-clients {
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
      -webkit-user-select: none;
      width: 9999px; }
      #our-clients .slider-wrapper #slider-clients .slide-c {
        display: inline-block;
        position: relative;
        margin: 50px 20px; }
        @media screen and (max-width: 992px) {
          #our-clients .slider-wrapper #slider-clients .slide-c {
            margin: 50px 24px; } }
        @media screen and (max-width: 768px) {
          #our-clients .slider-wrapper #slider-clients .slide-c {
            margin: 50px 12px; } }
        #our-clients .slider-wrapper #slider-clients .slide-c .slide-content {
          width: 180px; }
          @media screen and (max-width: 768px) {
            #our-clients .slider-wrapper #slider-clients .slide-c .slide-content {
              width: 80vw;
              margin: 0 auto; } }
          #our-clients .slider-wrapper #slider-clients .slide-c .slide-content img {
            display: block;
            margin: 0 auto; }

/*  --- RESPONSES OF CLIENTS ---  */
#responses-clients {
  background-color: #131A1D;
  color: #fff;
  padding: 60px 0;
  position: relative; }
  #responses-clients p {
    font-size: 20px; }
  #responses-clients h5 {
    font-size: 16px; }
  #responses-clients .slider-responses {
    position: relative;
    width: 45vw;
    overflow: hidden;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      #responses-clients .slider-responses {
        width: 80vw; } }
  #responses-clients .slider-wrapper-r {
    width: 9999px;
    position: relative;
    float: left;
    transition: 0.5s; }
  #responses-clients .slide-r {
    float: left;
    position: relative; }
  #responses-clients #slider-nav-r {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  #responses-clients .dots {
    display: block;
    float: left;
    cursor: pointer;
    width: 7px;
    height: 7px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: #fff; }
  #responses-clients .active {
    background-color: #ffe600 !important; }
  #responses-clients .slide-content {
    width: 45vw;
    text-align: center;
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      #responses-clients .slide-content {
        width: 80vw; } }
    #responses-clients .slide-content img {
      display: block;
      margin: 20px auto; }

/*  --- CONTACT US ---  */
#contact-us {
  padding: 60px 0; }
  #contact-us p, #contact-us h2, #contact-us h3, #contact-us h4 {
    text-align: center; }
  #contact-us h2 {
    font-family: OswaldBold;
    color: #000; }
  #contact-us p {
    font-family: OswaldLight;
    color: #707070;
    font-size: 16px;
    margin-bottom: 60px; }
  #contact-us h2, #contact-us h3, #contact-us h4 {
    text-transform: uppercase; }
  #contact-us h3 {
    margin-top: 10px;
    margin-bottom: 25px; }
  #contact-us h4 {
    margin-top: 0; }
  @media screen and (max-width: 992px) {
    #contact-us .col-md-4 {
      margin-bottom: 30px; } }
  #contact-us .divider {
    display: block;
    margin: 25px auto; }
  #contact-us .icon {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: transparent; }
    #contact-us .icon img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      cursor: pointer; }
  #contact-us .row p {
    font-size: 20px;
    color: #515151;
    margin: 0; }

/*  --- SEND US MESSAGE ---  */
#send-message {
  background-color: #131A1D;
  color: #fff;
  padding: 60px 0; }
  #send-message h2 {
    margin: 0;
    font-family: OswaldBold;
    text-transform: uppercase; }
  #send-message p {
    margin-bottom: 60px;
    font-family: OswaldLight;
    margin-top: 20px;
    font-size: 16px; }
  #send-message input {
    display: block;
    width: 100%;
    padding: 15px 15px;
    border: 1px solid #fff;
    background-color: transparent; }
    #send-message input:focus {
      outline: #ffe600 auto 5px; }
    @media screen and (max-width: 992px) {
      #send-message input {
        margin-bottom: 30px; } }
  #send-message input::-webkit-input-placeholder {
    color: #ccc; }
  #send-message input::-moz-placeholder {
    color: #ccc; }
  #send-message input::-ms-placeholder {
    color: #ccc; }
  #send-message textarea {
    resize: none;
    display: block;
    width: 100%;
    height: 220px;
    margin: 28px 0;
    background-color: transparent;
    padding: 15px;
    color: #fff;
    border: 1px solid #fff; }
    #send-message textarea:focus {
      outline: #ffe600 auto 5px; }
    @media screen and (max-width: 992px) {
      #send-message textarea {
        margin-top: 0; } }
  #send-message #error-tip {
    position: absolute;
    bottom: -1.7em;
    left: 15px;
    background: rgba(255, 255, 255, 0.2);
    padding: 0 10px; }
  #send-message textarea::-webkit-input-placeholder {
    color: #ccc; }
  #send-message textarea::-moz-placeholder {
    color: #ccc; }
  #send-message textarea::-ms-placeholder {
    color: #ccc; }
  #send-message button {
    padding: 15px 50px;
    font-size: 15px;
    background-color: #ffe600;
    border: none;
    color: #fff;
    color: #131A1D;
    font-family: OswaldBold;
    text-transform: uppercase;
    outline: none !important;
    transition: .2s; }
    #send-message button:hover {
      background-color: #d8c61e; }

/*  --- FOOTER ---  */
footer {
  background-color: #131316;
  color: #fff; }
  footer p {
    margin-top: 20px;
    margin-bottom: 0;
    font-family: OswaldLight; }
  footer p a {
    color: #ffe600;
    cursor: pointer;
    text-decoration: none !important; }
    footer p a:hover {
      color: #fff; }
  footer ul {
    display: block;
    width: 124px;
    height: 20px;
    margin: 25px auto;
    padding: 0; }
    footer ul li {
      list-style: none;
      display: inline-block;
      float: left;
      margin: 0 8px; }
      footer ul li a {
        color: #fff;
        cursor: pointer;
        font-size: 16px; }
      footer ul li:nth-child(1):hover a {
        color: #3B5998; }
      footer ul li:nth-child(2):hover a {
        color: #aaa; }
      footer ul li:nth-child(3):hover a {
        color: #1DA1F2; }
      footer ul li:nth-child(4):hover a {
        color: #DB4437; }
  footer .scroll-to-home {
    display: block;
    margin: 0 auto;
    background-color: #ffe600;
    height: 50px;
    width: 50px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    transition: .2s; }
    footer .scroll-to-home:hover {
      color: #fff;
      background-color: #d8c61e; }
    footer .scroll-to-home img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
